@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
.toubu{
    width: 100%;
    height: 60px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    z-index: 6;
     input{
         width: 60%;
         height: 40px;
         border-radius: 20px;
         font-size: 20px;
         margin-top: 10px;
     }
}
#banner{
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 1;
     img{
         width: 100%;
    height: 200px; 
     }
}
.nav{
    width: 100%;
    height:140px ;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.tu{
    width: 20%;
    height: 70px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
      img{
          width: 45px;
          height: 45px;
      }
}
.neir{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 22px;
}
p{
    width: 100%;
    height: 15px;
    background: #EDEAEA;
}
.box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    
}
.zuo{
    width: 30%;
    height: 100px;
     img{
         width: 100%;
         height: 80px;
         margin-left: 10px;
     }
}
.you{
    width: 70%;
    height: 100px;
    
    margin-left: 20px;
}
.zi{
   font-size: 20px; 
}
.zi1{
    font-size: 15px;
    color: #C3C3C3;
}
.xuan{
    width: 100%;
    height: 110px;
     display: flex;
    justify-content: space-around;
      img{
          width: 30%;
          height: 90px;
      }
}
.dibu{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.tu1{
    width: 20%;
    height: 50px;
    text-align: center;
      img{
          width: 40px;
          height: 40px;
      }
}
